{% extends 'base.html' %} 
{% block head %}    
{% endblock %}
{% block content %}

<div class="container">
  <div class="index-titles">
    <h1>ORDER SUCCESSFUL!</h1>
    <h4>Your order has been placed!</h4>
  </div>
    <br><br><br><br><br><br>
      <h1>WANT TO ORDER AGAIN?</h1>
      <div class="card">
        <div class="card-body" style="background-color: #4c0bce;">
          <p class="card-text">Go back to Homepage</p>
          <a href="/" class="btn btn-dark">Return to Homepage</a>
        </div>
      </div>
    </div>
</div>


{% endblock %}